  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');



:root{
	--yellow: #e6bd43;
	--grey:#252525;
	--offwhite: #ececec;
	--white: #fff;
	--black: #000;
	--khaki: #737450;
    
    --color1: #2A324B;
    --color2: #58699D;
    --color3: #fff;

}

body {
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3{
	font-size: 1rem;
}

p {
	font-size: 0.8rem;
}

li {
	list-style: none;
}