  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');



:root{
    
    --color1: #2A324B;
    --color2: #58699D;
    --color3: #E1E5EE;
	--color4: #fff;


}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--color3);
}

h1{
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3{
	font-size: 1rem;
}

p {
	font-size: 0.8rem;
}

li {
	list-style: none;
}

nav ul li{
	background-color: var(--color1);
}

section {
	background-color: var(--color4);
}